*{
    margin:0px;
   

    font-family: inter;
}

#menusuperior{
    background-color: #303030;
    width: 100%;
    height: 300px; /* Ajuste conforme necessário */
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    box-sizing: border-box; 
    padding-bottom: 100px;
}

#titulo-menusuperior{

    margin-left:40px;
    margin-top: 75px;
    font-size: 60px;

}

#texto-menusuperior{
    margin-left: 40px;
    margin-top: 5px;
    font-size: 15px;
}
/*Menu inferior*/
#menuinformacional{
    padding: 70px;
    background-color: #F9F9F9;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Três colunas iguais */
    justify-items: center; /* Centraliza o conteúdo de cada coluna */
    gap: 5px; /* Reduz o espaço entre as colunas */
}
span{
    font-weight: bold;
    font-size: 25px;
    
}

.texto-informacional{
  
    margin: 0; /* Remove margens adicionais */
    position: relative;
   
}
/*INFORMATIVA SEÇÃO*/


#bloco-info{
    display: flex;
   justify-content: center;
   align-items: center;
    gap: 0px; 
  
    
    
}
/*
#imagen01{

    
    margin-left: 100px;
    align-self: center;
  
   
}
    */
#imagem02{
    
    padding: 40px;
   

}



#fomulario{
   
  padding: 100px;
    background-color: #303030;
    color:#ffff;
    text-align: center;
  
}

#titulo-form{
    padding: 22px;
}

input{
    width: 300px;
    height: 40px;
    background-color: #EAECE5;
    margin: 15px;
    border:0px ;
    border-radius: 5px;
    padding-left: 10px;

}

button{
    background-color:#C07212 ;
    height: 30px;
    width: 193px;
    color: #EAECE5;
    border: 0px;
    border-radius: 5px;
    margin-bottom: 50px;
    font-weight: bolder;
    cursor: pointer;
    

}
button:hover{
    background-color:#dc7d0b ;
    color: white;
    transform: translateY(-7);
    box-shadow: 0px 15px 20px #05103081 ;
    transition-duration: 0.5s;
}